div {
    color: blue;
}
.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
  }

  .mainLeftContainer {
    background-color: #bbc2d4;
    grid-column: 1 / 2;
    display: grid;
  }

  .mainRightContainer{
    background-color: #bac0cf;
    grid-column: 2 / 3;
    display: grid;
  }

  .mainInfo {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .projects {
    grid-column: 1 / 2;
    display: grid;
  }

  .announcements {
    grid-column: 2 / 3;
    display: grid;
  }

  .borrachitos {
    grid-column:  2 / 3;
    display: grid;
  }